body{background-color: #dedede;}


.RegSig {margin-top: -8.5px;}

.navbar{background-color: #009deb;}

.RegBut
{
  border: 1px solid #ffffff;
  color : #ffffff;
  background-color: #009deb;
}

.RegBut:hover {background-color:#ffffff;}

.But{color : #ffffff;}

.But:hover{color : #000000;}

a:hover{text-decoration: none;}

/* @media only screen and (max-width: 160px)
{
  .RegAuht{margin-left: 600px;}
} */
